<%= form_with(model: profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<div class="field">
		<%= f.label :first_name %> *<br>
		<%= f.text_field :first_name, required: true %>
	</div>
	<div class="field">
		<%= f.label :last_name %> *<br>
		<%= f.text_field :last_name, required: true %>
	</div>
	<div class="field">
		<%= f.label :dob %> *<br>
		<%= f.date_field :dob, required: true %>
	</div>
	<div class="field">
		<span>Gender *<span><br>
		<%= f.collection_radio_buttons :gender, Profile.genders.map {|i,j| [i,i.capitalize]}, :first, :last, required: true %>
	</div>
	<div class="field">
		<%= f.label :bio %><br>
		<%= f.textarea :bio, rows: 2, required: true %>
	</div>
	<%= f.fields_for :user do |user_form| %>
    <div class="field">
      <%= user_form.label :avatar %><br>
      <%= user_form.file_field :avatar %>
    </div>
  <% end %>
	<div class="field">
		<%= f.label :country %><br>
		<%= f.text_field :country %>
	</div>
	<div class="field">
		<%= f.label :city %><br>
		<%= f.text_field :city %>
	</div>
	<div class="field">
		<%= f.label :profession %><br>
		<%= f.text_field :profession %>
	</div>	
	<div class="submit">
		<%= f.submit %>
	</div>
<% end %>