<div id="<%= dom_id profile %> ">
	<h1><%= profile.fullname %></h1>
	<%= link_to "%s followers" % profile.user.followers_count, profile_follows_path(profile) %>
	<%= link_to "%s followings" % profile.user.followings_count, profile_follows_path(profile) %>
	<%= image_tag (profile.user.avatar.attached? ? profile.user.avatar.url : "fakebook_pfp_placeholder.jpg") %>
	<p><%= profile.bio %></p>	
	<p><%= profile.age %> years old</p>
	<p><%= profile.gender.capitalize %></p>	
	<p><%= profile.city %></p>
	<p><%= profile.country %></p>	
</div>