<% _like_button_text_ =  like_button_text(posts_liked_ids,post) %>
<div id="<%= dom_id post %>" class="space-y-2">
  <p>
    <strong class="font-medium mb-1">User: </strong>
    <%= link_to post.user.username, profile_path(username: post.user.username) %>
  </p>
  <p>
    <strong class="font-medium mb-1">Content: </strong>
    <%= post.content %>
  </p>
  <% if post.images.attached? %>
  <p>
    <strong class="block font-medium mb-1">Images:</strong>
    <div class="flex space-x-2 overflow-x-auto w-96">
      <% post.images.each do |image| %>
        <div class="max-h-56 flex items-center justify-center">
          <%= image_tag image.url, class: "max-w-full max-h-full object-contain" %>
        </div>
      <% end %>
    </div>
  </p>
  <% end %>
  <% if post.video.attached? %>
  <p>
    <strong class="block font-medium mb-1">Video:</strong>    
      <div class="w-96 h-56">
        <%= video_tag post.video.url, controls: true, class: "w-full h-full object-contain" %>
      </div>    
  </p>
  <% end %>  
  <div data-controller="likes" data-likes-liked-text-value="<%= _like_button_text_ %>" data-likes-post-id-value="<%= post.id %>">
    <button class="px-4 py-2 bg-gray-100 rounded-lg" data-likes-target="button" data-action="likes#toggleLike"><%= _like_button_text_ %></button>
  </div>
  <p>
    <strong class="font-medium mb-1">Comments: </strong>
    <%= tag.span post.comments_count, id: dom_id(post, :comments_count) %>
  </p>
</div>